<h2>Raúl Gómez - Mercado libre</h2>
<div>
  Bienvenido, ingrese su búsqueda
  <br>
  <input type="text" #prod class="form-control" placeholder="Ingrese su búsqueda"/>
  <button (click)="getProducts(prod)">Buscar</button>
</div>
<table>
  <tr>
    <th>Imagen</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>ID Vendedor</th>
  </tr>
  <tr *ngFor="let resul of resultado.results">
    <td><img src="{{resul.thumbnail}}" alt="Avatar"></td>
    <td>{{resul.title}}</td>
    <td>{{resul.price}}</td>
    <td>{{resul.seller.id}}</td>
  </tr>
</table>
